body {
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto', 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}