<section class="contacts base-container">
  <h2 class="contacts__title">Контакти</h2>
  <div class="contacts__map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81236.33967652608!2d30.41959345114673!3d50.48512697349525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cff5b93dce03%3A0x8c9ec078d48b035e!2z0KHQsNC70L7QvSDQutGA0LDRgdC4IEZhcmdv!5e0!3m2!1sru!2sua!4v1661501603855!5m2!1sru!2sua"
      width="1300" height="576" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="contacts__content">
    <p>Друзі, салон краси Fargo на Позняках пропонує широкий спектр послуг та продуктів для вашої краси. У затишному салоні ви обов'язково знайдете те, що вам потрібно. У вас планується весілля, вечірка чи важливий захід? Або ви просто хочете розслабитися та побалувати себе? Приходьте до нас! 😉😉    </p>
  </div>
</section>