ul {
  margin: 0;
}

.masters {
  &__title {
    font-family: 'Aref Ruqaa Ink';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #856A65;
    margin-bottom: 100px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
}